.git
.gitignore
.vscode
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
node_modules
.env
.env.local
.env.*.local
dist/
build/
*.egg-info/
.DS_Store
.coverage
htmlcov/
.idea
*.log
*.pot
*.mo
*.pot.bak
*.orig
.editorconfig
.editorconfig.bak
README.md
kakashi.json
obito.json
npm-debug.log
yarn-error.log
pnpm-debug.log
yarn.lock
package-lock.json
.next
out/
.nuxt
.cache/
.vuepress/dist/
.serverless/
.fusebox/
.dynamodb/
.env.local
.env.*.local
.tern-port
node_modules/
testing/
*.excalidraw
